/*********************************
GENERAL
*********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

P {
	font-family: sans-serif;
	font-weight:bold;
	text-align: center;
	color: #000;
}
#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5%
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
	max-height 100%;
}

.mtown {
	font-size: 30px;
	color: blue;
}

.copyr {
	margin-top: 60px;
	font-size: 0.72rem;
}
/*********************************
HEADING
*********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

.logs {
  width: 120px;
  height: 160px;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 17px 0;
  font-size: 1.80em;
  font-weight: normal;
  line-height: 0.8;
	text-shadow: 6px 8px 4px #222;
	
}

h2 {
  font-size: 0.75em
  margin: -5px 0 0;
  font-weight: normal;
}



/*********************************
Layout Style
*********************************/

.mun {
	border-radius: 50%;
	box-shadow: -18px 10px 8px #222;
}

.rdwk {
	border-radius: 55px;
	box-shadow: 18px 10px 8px #222;
}

.rec {
	border-radius: 55px;
	box-shadow: 18px 10px 8px brown;
}

.zrphq {
	border-radius: 55px;
	box-shadow: -18px 10px 8px green;
}

.hive {
	border-radius: 50%;
	box-shadow: 18px 10px 8px green;
}

.peter {
	border-radius: 55px;
	box-shadow: -18px 10px 8px pink;
}

.law {
	border-radius: 50%;
	box-shadow: -18px 10px 8px brown;
}

.food {
	border-radius: 50%;
	box-shadow: 18px 10px 8px pink;
}

/*********************************
NAVIGATION
*********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
	margin-right: 50px;
	margin-left: 90px;
	text-align: center;

}
/*********************************
FOOTER
*********************************/

footer {
  font-size: 0.75;
  text-align: center;
	clear: both;
  padding-top: 50px;
  color: #5cd786;
	color: blue;
}
.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 20px;
 }

.soscont {
	margin: 100px;
}



/*********************************
PAGE: HOME
*********************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}

#gallery li a p {
	margin: 0;
	padding: 1%;
	color: #000;
}

/*********************************
COLORS
*********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}


/* darkpurple header */
header {
  background: #635c9b;
  border-color: purple;
	background-image:linear-gradient(purple,red);
  }

/* nav background */
nav {
  background: yellow;
  color: darkgreen;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
	color: darkgreen;
}



/* nav links */
nav a, nav a: visited {
  color: darkgreen;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: red;
}



/*********************************
PAGE: ABOUT
*********************************/

#council {
	margin: 0;
	padding: 0;
	list-style: none;
}

#council li {
	width: 100%;
	margin: 0;
	background-color: #f5f5f5;
	color: red;
}




/*Floated Column-----------------*/

.council {
	width: 45%;
	margin: 2.5%;
	padding: 0;
	text-align:inherit;
	background-color: lightgrey;
	}

.council {
	float: left;
	box-shadow: 7px 9px 6px skyblue;

}

.tcouncil {
	width: 45%;
	margin: 2.5%;
	padding: 0;
	text-align: center;
	background-color: lightgrey;
	}

.tcouncil {
	float: right;
	box-shadow: 7px 9px 6px skyblue;

	
}

.vim {
	width: 45%;
	margin: 130px 2.5% 2.5%;
	text-align: center;
	background-color: lightgrey;
	}

.vim {
	float: right;
	box-shadow: 7px 9px 6px skyblue;

}
.vis {
	font-size: 17px;
	color: red;
}

.edu {
	width: 45%;
	margin: 10px 2.5% 2.5%;
	text-align: center;
	height: 100%;
	background-color: lightgrey;
	}

.edu {
	float: left;
	box-shadow: 7px 9px 6px skyblue;
	
}

.educ {
	font-size: 15px;
	color: green;
}

.health {
	width: 45%;
	margin: 10px 2.5% 2.5%;
	text-align: center;
	height: 100%;
	background-color: lightgrey;
	}

.health {
	float: left;
	box-shadow: 7px 9px 6px skyblue;
}

.heal {
	font-size: 15px;
	color:green;
}

.tariffs {
	width: 45%;
	margin: 2.5%;
	padding: 0;
	text-align: center;
	background-color: lightgrey;
	}

.tariffs {
	float: left;
	box-shadow: 7px 9px 6px skyblue;

}

.tariff {
	font-size: 15px;
	color: green;
}


/* Float Clearfix ----------------*/

.council:after {
	content: "";
	display: table;
	clear: both;
}

.ttom {
	font-size: 15px;
	text-align:center;
  }

.ttop {
	font-size: 15px;
	color: green;
}

/* Base Style ----------------------*/

box-sizing: border-box;



/*********************************
PAGE: CONTACT
*********************************/

cont {
  text-align: center;
  padding: 10px 0;
  margin: 100px 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

cont li {
	display: block;
}

cont {
	font-family: cursive;
	Font-size: 15px;
	color: brown;
}

.scont {
	margin: 133px 0;
}

.mun1 {
	width: 45%;
	height: 280px;
	Float: right;
	border: 2px;
	border-color: seagreen;
	
}
	



/*********************************
PAGE: COMMUNITY
*********************************/

#commune {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f5f5f5;
}

#commune li {
	width: 100%;
	margin: 0;
	background-color:skyblue;
}

/*Floated Column-----------------*/

.populacy {
	width: 45%;
	margin: 2.5%;
	padding: 0;
	text-align: center;
	background-color: skyblue;
	}

.populacy {
	float: left;
	height:
}

.pop {
	font-size: 15px;
	color: brown;
}

.service {
	width: 45%;
	margin: 2.5%;
	padding: 0;
	text-align: center;
	background-color: skyblue;
	border-color: orange;
	}

.serv {
	font-size: 15px;
	color: brown;
}

.service {
	float: right;
}

.info {
	width: 45%;
	margin: 130px 2.5% 2.5%;
	text-align: center;
	background-color: skyblue;
	}

.info {
	float: right;
}

.inform {
	font-size: 15px;
	color: brown;
}
